<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{url_for('static', filename='fonts/icomoon/style.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/font.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/top.css')}}" />
  <title>주문내역</title>
</head>

<body class="main-content">
  <!--Top Navbar -->
  {% include 'user/navbar/navbar_header.html' %}

  <!-- 결제 금액 -->
    <main role="main">
    
      <div class="album py-5 mt-3">
        <div class="container">
          <span style="font-size: 24px;">
            <span data-feather="shopping-cart" style="color: black; width: 24px; height: 24px;" class="mb-1"></span> 주문내역 {{ orders|length }} 건
          </span><br><br>
          <div class="container">
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th>주문번호</th>
                  <th style="width: 170px;">주문상품명</th>
                  <th style="width: 70px;">수량</th>
                  <th style="width: 70px;">가격</th>
                  <th style="width: 150px;">주문일시</th>
                  <th style="width: 110px;">상태</th>
                </tr>
              </thead>
              
              <tbody>
                {% for order in orders %}
                <tr>
                  <td>{{ order['order_number'] }}</td>
                  <td>{{ order['product_name'] }}</td>
                  <td>{{ order['order_product_stock'] }}</td>
                  <td>{{ order['order_product_price'] }}</td>
                  <td>{{ order['order_product_date'] }}</td>
                  <td>{{ order['order_product_status'] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>

  {% include 'user/navbar/navbar_footer.html' %}

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.2/feather.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/main.js"></script>
  <script src="/static/js/ajax.js"></script>
  <script src="/static/js/navbarActive.js"></script>
  <script src="/static/js/validation.js"></script>
  <script src="/static/js/alert.js"></script>
  <script src="/static/js/cartList.js"></script>
</body>

</html>