<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{url_for('static', filename='fonts/icomoon/style.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/font.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/top.css')}}" />

  <title>특가/혜택</title>
</head>

<body class="main-content">
  <!--Top Side Bar -->
  {% include 'user/navbar/navbar_header.html' %}

  <main role="main">
    <div class="album py-5">
      <div class="container">
        <br>
        <div class="row">
          <div class="col-12">
            <a href="#">
              <img class="img-fluid rounded mb-4 ml-4" src="{{url_for('static',filename='images/specialBenefit/specialBenefit01.jpg')}}"/>
            </a>
          </div>
          <div class="col-12">
            <a href="#">
              <img class="img-fluid rounded mb-4 ml-4" src="{{url_for('static',filename='images/specialBenefit/specialBenefit02.jpg')}}"/>
            </a>
          </div>
          <div class="col-12">
            <a href="#">
              <img class="img-fluid rounded mb-4 ml-4" src="{{url_for('static',filename='images/specialBenefit/specialBenefit03.jpg')}}"/>
            </a>
          </div>
          <div class="col-12">
            <a href="#">
              <img class="img-fluid rounded mb-4 ml-4" src="{{url_for('static',filename='images/specialBenefit/specialBenefit04.jpg')}}"/>
            </a>
          </div>
          <div class="col-12">
            <a href="#">
              <img class="img-fluid rounded mb-4 ml-4" src="{{url_for('static',filename='images/specialBenefit/specialBenefit05.jpg')}}"/>
            </a>
          </div>
          <div class="col-12">
            <a href="#">
              <img class="img-fluid rounded mb-4 ml-4" src="{{url_for('static',filename='images/specialBenefit/specialBenefit06.jpg')}}"/>
            </a>
          </div>
          <div class="col-12">
            <a href="#">
              <img class="img-fluid rounded mb-4 ml-4" src="{{url_for('static',filename='images/specialBenefit/specialBenefit07.jpg')}}"/>
            </a>
          </div>
          <div class="col-12">
            <a href="#">
              <img class="img-fluid rounded mb-4 ml-4" src="{{url_for('static',filename='images/specialBenefit/specialBenefit08.jpg')}}"/>
            </a>
          </div>
          <div class="col-12">
            <a href="#">
              <img class="img-fluid rounded mb-4 ml-4" src="{{url_for('static',filename='images/specialBenefit/specialBenefit09.jpg')}}"/>
            </a>
          </div>
          <div class="col-12">
            <a href="#">
              <img class="img-fluid rounded mb-4 ml-4" src="{{url_for('static',filename='images/specialBenefit/specialBenefit10.jpg')}}"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>

  {% include 'user/navbar/navbar_footer.html' %}


  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.2/feather.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/main.js"></script>
  <script src="/static/js/ajax.js"></script>
  <script src="/static/js/navbarActive.js"></script>
  <script src="/static/js/validation.js"></script>
  <script src="/static/js/alert.js"></script>
</body>

</html>