  <!-- Footer -->
  <footer class="bg-body-tertiary text-center">
    <div class="container p-4">
      <section class="">
        <div class="inner_footer">
          <div class="footer_cc">
            <div class="cc_view cc_call">
              <h3>
                <span class="tit">1677-7777</span>
              </h3>
              <dl class="list">
                <dt>365고객센터</dt>
                <dt>오전 7시 - 오후 7시</dt>
              </dl>
            </div>
            <div class="cc_view cc_kakao">
              <a class="tit" href="">카카오톡 문의</a>
              <div class="list">
                <div>365고객센터</div>
                <div>오전 7시 - 오후 7시</div>
              </div>
            </div>
            <div class="cc_view cc_qna">
              <a href="" class="tit">1:1 문의</a>
              <div class="list">
                <div>24시간 접수 가능</div>
                <div>고객센터 운영시간에 순차적으로 답변해드리겠습니다.</div>
              </div>
            </div>
          </div>
          <div class="company">
            <ul class="list">
              <li><a class="link" href="">쓱팡소개</a>
              </li>
              <li><a class="link"
                href=""
                onclick="window.open(this.href, 'pop', 'width=1330,height=660,scrollbars=yes');return false;">쓱팡소개영상</a>
              </li>
              <li><a class="link" href="" target="_blank">인재채용</a></li>
              <li><a class="link" href="">이용약관</a></li>
              <li><a class="link emph" id="privacy" href="">개인정보방침</a></li>
              <li><a class="link" href="">이용안내</a></li>
            </ul>
            법인명 (상호) : 주식회사 쓱팡 <span class="bar">I</span> 사업자등록번호 : 261-81-77777
            <a href="" target="_blank" class="link">사업자정보 확인</a> <br />
            통신판매업 : 제 2018-서울강남-77777 호 <span class="bar">I</span> 개인정보보호책임자 :
            김쓱팡 <br /> 주소 : 서울시 탄탄대로 16길 20, 이래빌딩 B1 ~ 4F <span class="bar">I</span>
            대표이사 : 김세계 <br /> 입점문의 : <a href="" target="_blank" class="link">입점문의하기</a>
            <span class="bar">I</span>
            제휴문의 : <a href="" class="link">ssgpang@ssgpang.com</a>
            <br /> 채용문의 : <a href="" class="link">ssgpang@ssgpang.com</a>
            <br /> 팩스: 070 - 7500 - 6098 <span class="bar">I</span> 이메일 : <a href="" class="link">help@ssgpang.com</a>
            <em class="copy">© SSGPANG CORP. ALL RIGHTS RESERVED</em>
            <ul class="list_sns">
              <li><a href=""
                class="link_sns"><img src="https://res.kurly.com/pc/ico/1810/ico_instagram.png"
                  alt="마켓컬리 인스타그램 바로가기" /></a></li>
              <li><a href=""
                class="link_sns"><img src="https://res.kurly.com/pc/ico/1810/ico_fb.png"
                  alt="마켓컬리 페이스북 바로가기" /></a></li>
              <li><a href=""
                class="link_sns"><img src="https://res.kurly.com/pc/ico/1810/ico_blog.png"
                  alt="마켓컬리 네이버블로그 바로가기" /></a></li>
              <li><a href=""
                class="link_sns"><img src="https://res.kurly.com/pc/ico/1810/ico_naverpost.png"
                  alt="마켓컬리 유튜브 바로가기" /></a></li>
              <li><a href=""
                class="link_sns lst"><img src="https://res.kurly.com/pc/ico/1810/ico_youtube.png"
                  alt="마켓컬리 유튜브 바로가기" /></a></li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </footer>