<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse mt-4">
    <div class="sidebar-sticky pt-3">
      <ul class="nav flex-column ml-1 mt-3">
        <li class="nav-item">
          <a class="nav-link" href="/admin/product">
            <span data-feather="shopping-cart" style="width: 22px; height: 22px;"></span>
            <span style="font-size: 20px; color: white;">상품</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/register">
            <span data-feather="plus-square" style="width: 22px; height: 22px;"></span>
            <span style="font-size: 20px; color: white;">상품 등록</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/userInfo">
            <span data-feather="users" style="width: 22px; height: 22px;"></span>
            <span style="font-size: 20px; color: white;">고객 관리</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/orderInfo">
            <span data-feather="bar-chart-2" style="width: 22px; height: 22px;"></span>
            <span style="font-size: 20px; color: white;">주문 관리</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>