<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/admin/home">
      <!-- <img class="img-fluid rounded mb-4 mb-lg-0" src="{{url_for('static',filename='images/coupang_logo.jpg')}}" width="20%" height="15%"/>  -->
      <span style="font-size: 40px;">SSG-PANG</span>
    </a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="/logout">Sign out</a>
      </li>
    </ul>
</nav>